.input {
  width: 284px;
  height: 34px;
  padding-left: 12px;

  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  color: var(--color-dark-100);

  background-color: transparent;
  border: 2px solid var(--color-dark-300);
  border-radius: 2px;



  &:focus {
    border-color: var(--color-info-700);
    outline: none;
  }

  &:active {
    border-color: var(--color-light-100);
    outline: none;
  }

  &:disabled {
    cursor: no-drop;
    color: var(--color-dark-300);
    border-color: var(--color-dark-300);
  }

  &:hover:not([disabled]) {
    background-color: var(--color-dark-700);
  }
}

label {
  display: inline-flex;
  flex-direction: column;

  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
  color: var(--color-dark-100);
}

.errorMessage {
  all: unset;
  font-size: var(--font-size-xs);
  line-height: var(--line-height-m);
  color: var(--color-danger-300);
}

.error {
  color: var(--color-danger-300);
  border: 2px solid var(--color-danger-300);
}

.searchIcon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  width: 20px;
  height: 20px;
}

.eyeIcon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
}

.inputWrapper {
  position: relative;
}

.searchInput {
  padding-left: 41px;
}

.passwordInput {
  padding-right: 41px;
}
