.input {
  width: 284px;
  height: 34px;
  padding-left: 12px;

  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  color: var(--color-dark-100);

  background-color: transparent;
  border: 2px solid var(--color-dark-300);
  border-radius: 2px;

  &:hover {
    background-color: var(--color-dark-700);
  }

  &:focus {
    border-color: var(--color-info-700);
    outline: none;
  }

  &:active {
    border-color: var(--color-light-100);
    outline: none;;
  }

  &:disabled {
    color: var(--color-dark-300);
    border-color: var(--color-dark-300);
  }
}

label {
  display: flex;
  flex-direction: column;

  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
  color: var(--color-dark-100);
}

.errorMessage {
  all: unset;
  font-size: var(--font-size-xs);
  line-height: var(--line-height-m);
  color: var(--color-danger-300);
}
