.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  margin: 0 auto;
  padding: 24px;

  background-color: var(--color-dark-700);
  filter: drop-shadow(-1px -1px 2px rgb(0 0 0 / 10%)) drop-shadow(1px 1px 2px rgb(0 0 0 / 10%));
  border: 1px solid #313131;
}

.loginPopUp {
  width: 420px;
  padding: 33px 36px 29px;
}
